<% @title = "Properties" %>
<div class="span9">
   <h4>Properties</h4>
   <p>List of properties I am managing
   <div id="allproperties">
   <table class="table table-hover">
   <% @properties.each do |property| %>
     <tr>
       <td><%= link_to property.name, property %></a>
     </tr>
   <% end %>
   </table>
   </div>

   <% if current_client.try(:admin?) %>
   <div class="form-actions">
   <%= link_to 'Create Property', new_property_path, :class => 'btn btn-primary' %>
   </div>
   <% end %>

</div>
