<div class="span2 profile-photo">
  <%= gravatar @client.email %>
  <p><a target="blank" href="http://www.gravatar.com">change picture</a></p>
</div> 
<div class="span10">
  <%= render 'form' %>
</div>
 
