<% @title = "Sabaai : home" %>

<h3>Sabaai - ただいま</h3>
<p>Having trouble with Japanese real estate search?</p>
<p>We will find the real estate you need.</p>

<%= image_tag "tokyo-window.jpg" %>

</div>
