<h4>All the images!</h4>


   <table class="table table-hover">
   <% @images.each do |image| %>
     <tr>
       <td><%= image_tag image.file.thumb.url %>
       <td><%= image.description %>
       <td><%= link_to "delete", image, :confirm => 'Are you sure?', 
                                        :method => :delete,
                                        :class => 'btn btn-danger' %>
     </tr>
   <% end %>
   </table>

</div>
